.messagerie h1 {
  text-align: center;
}

.conversation {
  display: grid;
  background-color: #bd84f6;
  border-radius: 15px;
  margin: 1rem;
  height: 10vh;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "figure name-block"
    "figure content";
  cursor: pointer;
}

.figure {
  display: flex;
  grid-area: figure;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.figure img {
  background-color: #f6cc84;
  border-radius: 50px;
  height: 90%;
}

.name-block {
  grid-area: name-block;
  color: white;
  margin: 0;
  align-self: center;
}

.content {
  grid-area: content;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .messagerie {
    margin-right: auto;
    overflow-y: auto;
    height: 80vh;
    width: 20rem;
    background-color: #f3d7ca;
    border-radius: 40px;
    margin-top: 20px;
  }
  .messagerie::-webkit-scrollbar {
    display: none;
  }

  .mobile {
    margin-left: 20px;
  }
  .conversation {
    height: auto;
    background-color: #f3d7ca;
  }

  .conversation h3 {
    color: #bd84f6;
  }

  .conversation h1 {
    color: #bd84f6;
  }

  .selected-conversation {
    background-color: #fff8e3;
  }
}
